html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  color: #212121;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #212121;
}
ul {
  list-style: none;
  padding: 0;
}
p {
  margin: 0;
}
.conteiner {
  @media (max-width: 767px) {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 1139px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (min-width: 1140px) {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
