.header {
  @media (max-width: 767px) {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
  }
  @media (max-width: 1139px) {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media (min-width: 1140px) {
    max-width: 1140px;
  }
}
.header-logo {
  margin-right: 277px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
