.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 305px;
  &:focus {
    --color4: $bluecolor;
  }
}
.contact-mail {
  display: flex;
  align-items: center;
  &:hover svg {
    --color4: #2196f3;
  }
  & svg {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
  }
}
.contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover svg {
    --color4: #2196f3;
  }
}
.contacts-item {
  display: flex;
  height: 16px;
  padding: 0;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  &.phone:focus {
    color: $bluecolor;
  }
}
.contact-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 14.94px;
  margin-right: 10px;
}
.phone {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $bluecolor;
  }
  &:focus {
    color: $bluecolor;
  }
  &:focus svg {
    --color4: #2196f3;
  }
}
.phone-icone {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover {
    color: $bluecolor;
  }
  &:focus {
    color: $bluecolor;
  }
  &:focus svg {
    --color4: #2196f3;
  }
}
