.container-xbox {
  @extend %cize;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
.box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.box-title {
  @media screen and (min-width: 768px) {
    width: 50%;
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1140px) {
    width: 25%;
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
.none {
  display: none;
}
.item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $generalcolor;
}
.inside {
  padding-top: 25px;
  text-align: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.size {
  display: inline-block;
  width: 65px;
  height: 70px;
}
.text {
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
