.container-box {
  @extend %cize;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
.holder {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 50%;
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1140px) {
    width: 25%;
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
.photo {
  margin-bottom: 30px;
  & img {
    width: 100%;
  }
}
.name {
  margin-bottom: 10px;
  & h3 {
    display: block;
    line-height: 0;
  }
}

.desc {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.socials {
  display: flex;
  justify-content: center;
}

.socials a {
  display: block;
  line-height: 0;
}

.socials-title {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: 20px;
  padding: 12px 12px;
  margin-right: 10px;
  text-align: center;
  transition-property: var(--color3), background-color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-right: 0;
  }

  &:hover svg {
    --color3: #ffffff;
  }

  &:focus svg {
    --color3: #ffffff;
  }

  &:hover {
    background-color: #2196f3;
  }

  &:focus {
    background-color: #2196f3;
  }
}
.soc {
  display: flex;
  justify-content: center;
}

.soc-size {
  width: 20px;
  height: 20px;
}
.meta {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
