.footer {
  @extend %cize;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.avatar {
  margin-bottom: 60px;
  text-align: center;
}

.logos-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mobile-title {
  margin-bottom: 9px;
}

.mobile {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.content {
  text-align: center;
  margin-bottom: 60px;
  & a {
    display: block;
    line-height: 0;
  }
}
.list-items {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.content-title {
  display: flex;
  justify-content: center;
}
.input-list {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.server {
  text-align: center;
}

.input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-footer {
  display: inline-block;
  margin-left: 125px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-color: #2196f3;
  padding: 10px 29px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-footer::after {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/plane.svg);
}
