a {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: $generalcolor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: $bluecolor;
}

a:hover.title {
  color: white !important;
}

a:hover.button {
  color: white !important;
}

a:hover.button-footer {
  color: white !important;
}

a:hover.subject-title {
  color: $generalcolor !important;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}

p {
  color: #757575;
}

h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 33px;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 33px;
  }
  @media screen and (min-width: 1140px) {
    font-size: 36px;
    line-height: 42px;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $generalcolor;
  text-align: center;
}
