a {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #212121;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #2196f3;
  }
}
a:hover.title {
  color: white !important;
}
a:hover.button {
  color: white !important;
}
a:hover.button-footer {
  color: white !important;
}
a:hover.subject-title {
  color: #212121 !important;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}
p {
  color: #757575;
}
h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.container-box {
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.heading {
  display: flex;
  justify-content: center;
}
